<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName"> project name</label>
          <input
            type="text"
            id="projectName"
            [formControlName]="'projectName'"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="email"> email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-group"
          />
        </div>

      <div class="form-group">
        <label for="status">Choose a status</label>
        <select name="status" id="status" class="form-control" formControlName="status">
          <option [value]="status" *ngFor="let status of statuses">
            {{ status }}
          </option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
